<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>LABOR</title>
	<link rel="stylesheet" type="text/css" href="stiil.css">
</head>
<body>
<div id="wrap">
	<ul id="menu">
		<li><a href="?">Avaleht</a></li>
		<li><a href="?page=teenused">Teenused</a></li>
		<?php if(isset($_SESSION['user'])): ?>
			<li><a href="?page=lisa">Lisa proove</a></li>
			<?php if($_SESSION['roll'] == "admin"): ?>
			<li><a href="?page=muuda">Muuda proove</a></li>
			<?php endif; ?>
			<li><a href="?page=logout">Logi välja</a></li>
		<?php else: ?>
			<li><a href="?page=login">Logi sisse</a></li>
		<?php endif; ?>
	</ul>
	<div id="content">

