<form action="?page=lisa" method="POST" enctype="multipart/form-data">
	<input type="text" name="tähis" placeholder="proovi tähis" value="<?php if (isset($proov['tähis'])) echo htmlspecialchars($proov['tähis']); ?>"/><br/>
	<input type="text" name="materjal" placeholder="proovi materjal" value="<?php if (isset($proov['materjal'])) echo htmlspecialchars($proov[' materjal']); ?>"/><br/>
	<input type="text" name="koht" placeholder="proovivõtu koht" value="<?php if (isset($proov['koht'])) echo htmlspecialchars($proov['koht']); ?>"/><br/>
	<input type="number" name="aeg" placeholder="proovivõtu aeg (aasta)" value="<?php if (isset($proov['aeg'])) echo htmlspecialchars($proov['aeg']); ?>"/><br/>
	<input type="submit" value="Lisa"/> 
</form>
<?php if (isset($errors)):?>
		<?php foreach($errors as $error):?>
			<div style="color:red;"><?php echo htmlspecialchars($error); ?></div>
		<?php endforeach;?>
	<?php endif;?>